<div class="profile-container">
    <div class="profile-form">
        <h3>Profile</h3>
        <form [formGroup]="profileForm" (submit)="submit()">
            <div class="form-item">
                <p class="input-description">Username</p>
                <input class="input" type="text" placeholder="Username" formControlName="username" value="{{username}}">
            </div>
        
            <div class="form-item">
                <p class="input-description">Email</p>
                <input class="input" type="text" placeholder="email" formControlName="email" value="{{email}}" readonly>
            </div>
        
            <div class="form-item">
                <p class="input-description">Age</p>
                <input class="input" type="number" min="1" placeholder="Age" formControlName="age" value="{{age}}">
            </div>
        
            <button class="submit-button" type="submit" [disabled]="!profileForm.valid">Save</button>
        </form>
    </div>
</div>