<div class="formWrapper">
  <div class="form-signin">
    <h1>Sign In</h1>
    <form class="form-signin-input" [formGroup]="loginForm" (submit)="submit()">
      <div>
        <p>Email</p>
        <input
          class="form-control"
          type="text"
          placeholder="email"
          formControlName="email"
        />
      </div>
      <div>
        <p>Password</p>
        <input
          class="form-control"
          type="password"
          placeholder="password"
          formControlName="password"
        />
      </div>
      <button class="btn" type="submit" [disabled]="!loginForm.valid">
        Sign In
      </button>
    </form>
    <div class="allusers">
      <table>
        <thead>
          <th>login</th>
          <th>password</th>
        </thead>
        <tr *ngFor="let user of usersList">
          <td>{{ user.login }}</td>
          <td>{{ user.pass }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
