<div class="formWrapper">
  <div class="form-signin">
    <h1>Sign In</h1>
    <form class="form-signin-input" [formGroup]="loginForm" (submit)="submit()">
      <div>
        <p>Email - user_1@gmail.com</p>
        <input
          class="form-control"
          type="text"
          placeholder="email"
          formControlName="email"
        />
      </div>
      <div>
        <p>Password - user1pass</p>
        <input
          class="form-control"
          type="password"
          placeholder="password"
          formControlName="password"
        />
      </div>
      <button class="btn" type="submit" [disabled]="!loginForm.valid">
        Sign In
      </button>
    </form>
  </div>
</div>
