.nav {
  height: 60px;
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
}

.nav__menu {
  display: flex;
  align-items: center;
}

a {
  margin-left: 20px;
  font-size: 20px;
  line-height: 23px;
}

.router-link-active {
  color: #6c69ff;
}

.btn__logout {
  background: #6c69ff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border: 1px solid #6c69ff;
  padding: 8px 16px;
  color: #fff;
  font-size: 14px;
}
