<ng-container *ngIf="authService.currentUser$ | async as user">
  <nav class="nav">
    <img src="../assets/logo.png" alt="steam" class="logo" />
    <a routerLink="/games"  routerLinkActive="nav__active-link">Games</a>
    <a routerLink="/library" routerLinkActive="nav__active-link">Library</a>
    <a routerLink="/friends" routerLinkActive="nav__active-link">Friends</a>
    <a routerLink="/profile" routerLinkActive="nav__active-link">Profile</a>

    <ng-container
      *ngIf="authService.currentUser$ | async as user; else loginButton"
    >
      <button class="nav__logout-button"  (click)="logout()">Logout</button>
    </ng-container>

    <ng-template #loginButton>
      <button routerLink="login">Login</button>
    </ng-template>
  </nav>
</ng-container>

<div class="content">
  <router-outlet></router-outlet>
</div>
