<ng-container *ngIf="authService.currentUser$ | async as user">
  <nav class="nav">
    <img src="../assets/logo.png" alt="steam" class="logo" />
    <a routerLink="/games">Games</a>
    <a routerLink="/library">Library</a>
    <a routerLink="/friends">Friends</a>
    <a routerLink="/profile">Profile</a>

    <ng-container
      *ngIf="authService.currentUser$ | async as user; else loginButton"
    >
      <button (click)="logout()">Logout</button>
    </ng-container>

    <ng-template #loginButton>
      <button routerLink="login">Login</button>
    </ng-template>
  </nav>
</ng-container>

<div class="content">
  <router-outlet></router-outlet>
</div>
