<nav class="nav" *ngIf="authService.isAuthenticated">
    <img src="../assets/logo.png" alt="steam" class="logo" />
    <a routerLink="/games" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:
true}">Games</a>
    <a routerLink="/library" routerLinkActive="router-link-active">Library</a>
    <a routerLink="/friends" routerLinkActive="router-link-active">Friends</a>
    <a routerLink="/profile" routerLinkActive="router-link-active">Profile</a>
</nav>

<router-outlet></router-outlet>

