<div class="games">
  <h2>Games</h2>

  <form class="games__search" [formGroup]="gamesForm">
    <p>Search Games</p>
    <input
      type="text"
      placeholder="Search Games"
      formControlName="searchGames"
    />
    <button type="button" (click)="addFilter()">Search</button>
  </form>

  <h2>Featured Games</h2>

  <div class="games__data">
    <div class="games__cards">
      <div class="card" *ngFor="let game of games">
        <div class="card__up">
          <h3>{{ game.name }}</h3>
          <p class="card-img-money">{{ game.price }} UAH</p>
        </div>
        <div class="card__down">
          <p class="about">{{ game.about }}</p>
          <button type="button" (click)="addGame(game.name)">
            Add to Library
          </button>
        </div>
      </div>
    </div>
    <div class="games__filter">
      <form class="games__filterForm" [formGroup]="gamesForm">
        <div class="games__filter--price">
          <p>Filter by price</p>
          <input
            type="range"
            id="range"
            formControlName="range"
            min="0"
            max="{{ max }}"
            step="1"
            value="13"
            (change)="addFilter()"
          />
        </div>

        <div class="games__filter--tag">
          <p>Filter by tag</p>
          <div>
            <input
              type="checkbox"
              id="casual"
              name="casual"
              formControlName="casual"
              (change)="addFilter()"
            />
            <label for="casual">casual</label>
          </div>

          <div>
            <input
              type="checkbox"
              id="strategy"
              name="strategy"
              checked
              formControlName="strategy"
              (change)="addFilter()"
            />
            <label for="strategy">strategy</label>
          </div>

          <div>
            <input
              type="checkbox"
              id="adventure"
              name="adventure"
              checked
              formControlName="adventure"
              (change)="addFilter()"
            />
            <label for="adventure">adventure</label>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
