.games {
  max-width: 1200px;
  margin: 65px auto;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 25px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.games__search {
  margin-top: 20px;
}

.games__search > p {
  line-height: 16px;
  color: #000;
}

.games__search > input {
  width: 92%;
  color: #777;
  padding: 8px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #777777;
  margin-bottom: 25px;
}

.games__search > button {
  background: #6c69ff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 8px 16px;
  border: 1px solid #6c69ff;
  margin-left: 10px;
}

.games__filterForm {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 5px;
}

.games__filter--tag {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.games__filter--tag > div {
  margin-left: 20px;
}

.games__data {
  display: flex;
  padding: 15px;
  margin-top: 20px;
}

.games__cards {
  flex: 0.8;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
}

.games__filter {
  flex: 0.2;
  border-left: 1px solid black;
}

.card {
  max-width: 270px;
  max-height: 315px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.card__up {
  background-color: #bdbcff;
  padding: 8px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 4px;
}

.card__up > h3 {
  font-size: 24px;
  line-height: 28px;
  color: #fff;
}
.card__up > p {
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  margin-left: 150px;
}

.card__down {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: #fff;
  border-radius: 4px;
}

.card__down > p {
  font-size: 13px;
  line-height: 15px;
  color: #000;
}
.card__down > button {
  margin-top: 10px;
  background: #6c69ff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border: 1px solid #6c69ff;
  align-items: center;
  padding: 8px 16px;
}