<div class="games">
  <h2>Games</h2>

  <div class="games__search">
    <p>Search Games</p>
    <input type="text" placeholder="Search Games" />
    <button>Search</button>
  </div>

  <h2>Featured Games</h2>

  <div class="games__data">
    <div class="games__cards">
      <app-gamecard></app-gamecard>
      <app-gamecard></app-gamecard>
      <app-gamecard></app-gamecard>
      <app-gamecard></app-gamecard>
      <app-gamecard></app-gamecard>
      <app-gamecard></app-gamecard>
    </div>

    <div class="games__filter">
      <div class="">
        <p>Filter by price</p>
      </div>
      <div class="">
        <p>Filter by tag</p>
      </div>
    </div>
  </div>
</div>
