<div class="profile-container">
    <div class="profile-form">
        <h3>Profile</h3>
        <form [formGroup]="profileForm" (submit)="submit()">
            <div class="form-item">
                <label for="userName" class="input-description">Username</label>
                <input 
                    id="userName"
                    class="input" 
                    type="text" 
                    placeholder="Username" 
                    formControlName="username" 
                    value="{{username}}"
                >
            </div>
        
            <div class="form-item">
                <label for="userEmail" class="input-description">Email</label>
                <input 
                    id="userEmail"
                    class="input" 
                    type="text" 
                    placeholder="email" 
                    formControlName="email" 
                    value="{{email}}" readonly
                >
            </div>
        
            <div class="form-item">
                <label for="userAge" class="input-description">Age</label>
                <input 
                    id="userAge"
                    class="input" 
                    type="number" 
                    min="1" 
                    placeholder="Age" 
                    formControlName="age" 
                    value="{{age}}"
                >
            </div>
            <button class="submit-button" type="submit" [disabled]="!profileForm.valid">Save</button>
        </form>
    </div>
</div>